<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/user_layout::normal_layout(~{::div})">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Contacts</title>
</head>
<body>
<div class="container">
  <div class="row">
      <h2 class="col-lg-6">Contact details saved by <span th:text="${userName}"></span></h2>
      <h5 class="text-end text-secondary col-lg-4"><span th:text="${totalEle}">0</span> contacts found </h5>
      <span class="text-end text-secondary col-lg-2">
        <a href="/user/add-contact?page=0" class="btn btn-success">Add Contact</a>
      </span>
  </div>
  <hr/>
  <div class="row row-cols-1 row-cols-md-3 g-4 card-row">
    <div class="col" th:each="contact : ${contacts}" th:unless="${#lists.isEmpty(contacts)}">
      <div class="card h-100">
        <div class="d-flex justify-content-center">
          <img th:src="'/uploads/' + ${contact.imgUrl}" class="card-img-top" alt="profile image" width="50px" height="200px">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h5 class="card-title" th:text="${contact.name}">Card title</h5>
              <h6 class="card-subtitle mb-2" th:text="${contact.designation}"></h6>
            </div>
            <div class="col-md-6 text-end">
              <h6 class="card-subtitle mb-2 text-muted" th:text="${contact.userName}"></h6>
              <h6 class="card-subtitle mb-2 text-muted" th:text="${contact.phone}"></h6>
              <h6 class="card-subtitle mb-2 text-muted" th:text="${contact.email}"></h6>
            </div>
          </div>

          <hr/>
          <p class="card-text" th:utext="${contact.description}">Description:</p>
          <button class="btn btn-primary view-details" th:data-index="${contact.id}" data-bs-toggle="modal" data-bs-target="#exampleModal">View details</button>
          <a th:href="'/user/update-contact?id=' + ${contact.id}" class="btn btn-warning">Update details</a>
        </div>
      </div>
    </div>
  </div>

  <div th:unless="${#lists.isEmpty(pages)}" th:insert="~{mixins/pagination :: page-nav}" class="my-4 row"></div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>
</body>
</html>