body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

.navbar {
  background-color: #fae8ff;
}
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/satnight.jpg);
  /* width: 100vw; */
  min-height: 100vh;
  background-size: cover;
  color: #fff;
}
.form-card {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.whitelink {
  color: #fae8ff;
  /* text-decoration: none; */
}

.whitelink:hover {
  color: #fcd34d;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  min-width: 200px;
  width: fit-content;
  z-index: 30;
  background-color: #e5e7eb;
  height: 100%;
  transform: translate(0px);
  transition: transform 0.5s ease-out;
}

.sidebar a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  padding: 15px 25px;
}

.sidebar a:hover {
  background-color: #9ca3af;
}

.close-btn {
  align-self: flex-end;
  padding: 10px 10px;
  text-align: center;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.close-btn:hover {
  background-color: #9ca3af;
}

.sidebar-close {
  transform: translate(-50vw);
  transition: transform 0.5s ease-in;
}

.sidebar-open {
  padding: 5px 5px;
  text-align: center;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;
}
.sidebar-open:hover {
  background-color: #9ca3af;
}

.content {
  padding: 10px 15px;
}

.card:hover {
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  width: 50%;
}

.custom-file-input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.custom-file-input:focus + label {
  outline: thin dotted;
}
input.custom-file-input:focus-within + label {
  outline: thin dotted;
}

.modal-body {
  display: grid;
  grid-template-columns: repeat(2, minnax(100px, 1fr));
  gap: 5px;
  font-size: medium;
  font-weight: 500;
  padding: 1rem 2rem;
}
.modal-body h5 {
  font-size: small;
}
.modal-details {
  grid-column: span 2;
  grid-row: span 1;
  font-weight: 400;
}

.profile-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
}
.profile-card img{
  grid-column: span 2;
  grid-row: span 1;
  place-self: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
.profile-card h1{
  grid-column: span 2;
  grid-row: span 1;
  place-self: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.search-result{
  background: #F3F4F6;
  color: #4B5563;
  position: absolute;
  top: 2.5rem;
  width: 85%;
  border-radius: 10px;
  z-index: 30;
  display: none;
}
.search-result.active{
  display: block;
}
.search-result h4{
  padding: 5px 5px;
}

.search-result h4.selected{
  background: #D1D5DB;
}