.navbar{
    background-color: #fae8ff;
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/satnight.jpg);
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    color: #fff;
}
.form-card{
    padding: 2rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.whitelink{
    color: #fae8ff;
    /* text-decoration: none; */
}

.whitelink:hover{
    color: #fcd34d;
}