<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="layout(content)"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto}">
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="${title}">People Direct</title>
  </head>
  <body>
  <div th:replace="~{mixins/navbar :: navbar}"></div>

  <div th:if="${session.message}" class="alert alert-dismissible text-center fade show" th:classappend="'alert-' + ${session.message.type}" role="alert">
    <div th:text="${session.message.msgString}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
  </div>

  <div th:replace="${content}"></div>
  <div th:replace="~{mixins/footer :: footer}"></div>
  
  <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
  <script type="module" th:src="@{/js/index.js}"></script>
  <script type="module" th:src="@{/js/fileUpload.js}"></script>
  </body>
</html>
